doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Contact Us
    link(rel="stylesheet", href="/styles.css")
  body
    nav
      a(href="/") Home
      a(href="/services") Our Services
      a(href="/contact") Contact Us
    h1 Contact Us
    p Contactez-nous : email@example.com

    footer
      p &copy; 2024 SportiveZone.SDSALIOU
      p Suivez-nous sur
      a(href="https://www.instagram.com")  Instagram
      a(href="https://www.twitter.com")  Twitter
      a(href="https://www.facebook.com") Facebook
    
