doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Our Services
    link(rel="stylesheet", href="/styles.css")
  body
    nav
      a(href="/") Home
      a(href="/services") Our Services
      a(href="/contact") Contact Us
    h1 Our Services
     section#sports
      h2 Découvrez nos activités sportives
      ul
        li 
          h3 Football
          p Pratiquez le sport roi avec nos terrains homologués et nos équipes de haut niveau.
        li 
          h3 Basketball
          p Rejoignez nos équipes de basketball et participez à des tournois locaux.
        li 
          h3 Natation
          p Apprenez à nager ou améliorez votre technique dans notre piscine olympique.
        li 
          h3 Tennis
          p Participez à des matchs de tennis dans nos installations modernes.
    
    section#news
      h2 Dernières actualités sportives
      article
        h3 Tournoi de football 2024
        p Rejoignez-nous pour un tournoi interclubs en juin 2024 avec des équipes venues de toute la région.
      article
        h3 Nouvelle salle de sport
        p Ouverture d'une nouvelle salle de sport équipée d’appareils de musculation et de cardio.
    